



.containerButtons {
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: right;
}

.animated-button {
    margin-top: 4px;
    margin-bottom: 3px;
    padding: 10px 20px 10px 20px;
    background-color: var(--color-botones);
    color: var(--color-botonesText);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .animated-button:hover {
    background-color: var(--color-botonesHover);
  }

  .animated-button:active{
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
  }