
.containerButtons {
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: right;
}



.animated-button {
    
    padding: 10px 20px;
    background-color: #546A7B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .animated-button:hover {
    background-color: #62929E;
  }