:root {
    --color-cardTexto:#303030;
    --color-cardBackGround: #F4F4F4;
  
    --color-bodyBackGround: #EEF4ED;
    --color-bodyText:#0D0C08;
  
    --color-botones: #003049;
    --color-botonesHover: #F9A620;
    --color-botonesText: #F4F4F4;
  
    --color-footer: #191710;
    --color-footerText: #F4F4F4;
  }
  

body{
    margin: 0;
    font-family: "Courier New", monospace;
}
header{
    height: 75px;
    color: #EEF4ED;
    display: flex;
    align-items: center;
    padding-left: 25px;
    background-image: url('../images/spaceImg.png');
    border-bottom: 2px solid #071108;
}
.cara{
    border-radius: 500px;
    height: 200px;
    margin: 20px;
}


.uno{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: calc(100vh - 65px);*/
    background-color: var(--color-bodyBackGround);
    color: var(--color-bodyText);
}

.caja-central{
    margin: 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    
}
.caja-central:hover {
    transform: scale(1.1);
    
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #171717;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.caja-presentacion{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60%;
    background-color: var(--color-cardBackGround);
    color: var(--color-cardTexto);
    padding: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    

    
}
.presentacion{
    width: 70%;  
}


.card-info{
    margin: 10px;
    transform: scale(0.7)translate(0, -15%);
    width: 45%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.card-info:hover {
    transform: scale(0.71);
    
} 
.caja-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #FDFDFF;
    padding-top: 50px;
    padding-bottom: 50px;
}
.caja-text{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60%;
    background-color: var(--color-cardBackGround);
    color: var(--color-cardTexto);
    padding-right: 40px;
    padding-left: 40px;

    
}
.caja-text p{
    width: 95%;

}


.dos{
    background-color: var(--color-bodyBackGround);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-bodyText);
    padding: 50px;

}

.dos p{
    padding-left: 10%;
    padding-right: 10%;
}
.aptitudes{
    width: 50%;
    padding-bottom: 50px;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    justify-content: center;
    width: 80%;
    flex-flow: wrap;
    margin: 0 auto;
    align-content: center;
    padding-bottom: 100px;
}
.tech{
    height: 50px;
    padding-top: 20px;
    margin-left: 15px;
    margin: 40px;
}

.tres{
    background-color: var(--color-bodyBackGround);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: var(--color-bodyText);
}

.card{
    display: flex;
    flex-direction: column;
    position: relative; 
    text-align: center;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: var(--color-cardBackGround);
    color: var(--color-cardTexto);
    -webkit-box-shadow: 10px 10px 40px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 40px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 40px 4px rgba(0, 0, 0, 0.3);

}

.card p{
    font-size: 18px;
    text-align: left;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-height: 148px;
    white-space: normal;
    transition: transform 0.3s ease;
}
.card p:hover{
    font-size: 22px;
    transform: translate(0%, -10px); 
    max-height: none;
    width: 91%;
    border-radius: 5px;
    position: absolute; 
    margin-top: 75%;
    z-index: 999; 
    background-color: #aaa; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.card h3{
    color: var(--color-cardTexto) !important;
}
.card a, footer a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
}
.red-social{
    height: 30px;
    background-color: transparent;
    margin-left: 20px;
    
}

footer{
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-footerText);
    height: 180px;
}

.contacto{
    width: 30%;
    display: flex;
    justify-content: center;
}

.img-info-box{
    display: flex;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 10px;
}


.img-info-container{
    width: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius:15px;
    transition: ease;
    filter: grayscale(30%);
    box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.3);
    
}
.img-info-container:hover{
    background-color: #111614;
    color: #EEF4ED;
    filter: grayscale(100%);
    
}
    
.img-info{
    height: 20px;
    
}
.img-info-text{
    font-size: 16px;
    margin-left: 5px;
    padding-top: 1.5px;
}







@media (max-width: 1700px) {

    .dos{
        height: auto;
        padding: 0 10px 20px 20px;

    }
    .tres{
        height: auto;
    }

    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .caja-central:hover {
        transform: scale(1.02);
    }
    .caja-cara{
        width: 100%;
        height: 50%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .caja-presentacion{
        width: auto;
        height: 50%;
        align-items: flex-start;
        padding-right: 50px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .caja-presentacion p{
        margin-right: 40px;
    }

    .aptitudes{
        width: auto;
    }
    .uno{
        height: auto;
    }
   

    .red-social{
        margin: 0 10px 0 10px;
    }
    .tech{
        height: 40px;
    }

    .card-info{
        width: 90%;
        flex-direction: column;
        margin: -32px;
        margin-top: -50px;
    }
    .caja-img{
        width: 100%;
        height: 50%;
    }
    .caja-text{
        height: 50%;
        width: 92%;
        align-items: flex-start;
        padding-right: 50px;
        padding-left: 30px;
    }

    
    
}



