.image-panel {
    width: 400px;
    overflow: hidden;
    position:relative;
    margin: 0 auto;
    border-radius: 2px;
  }
  
  .image-slider {
    display: flex;
    transition: transform 0.5s;
  }
  
  .image-slider img {
    width: 400px; /* Ancho de imagen */
    height: 225px; /* Alto de imagen */
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .prev-btn img,
  .next-btn img {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 1700px) {
    .image-panel {
      width: 500px;
    }
    .image-slider img {
      width: 500px; /* Ancho de imagen */
      height: 282px; /* Alto de imagen */

    }

  }

  @media (max-width: 700px) {
    .image-panel {
      width: 400px;
    }
    .image-slider img {
      width: 400px; /* Ancho de imagen */
      height: 225px; /* Alto de imagen */

    }

  }

  @media (max-width: 550px) {

    .image-panel {
      width: 300px;
    }
    .image-slider img {
      width: 300px; /* Ancho de imagen */
      height: 170px; /* Alto de imagen */

    }

  }